<mat-card>
  <mat-card-header>
    <mat-card-title>Numery art.</mat-card-title>
  </mat-card-header>
  <img mat-card-image src="/assets/images/rozne/art.jpg" alt="art">

</mat-card>

<mat-card>
  <mat-card-header>
    <mat-card-title>Wymiar czasu pracy 2018 </mat-card-title>
  </mat-card-header>
  <img mat-card-image src="/assets/images/rozne/wymiar_czasu_pracy_2018.png" alt="Czas pracy">

</mat-card>

<mat-card>
  <mat-card-header>
    <mat-card-title>Dni wolne od pracy 2018 </mat-card-title>
  </mat-card-header>
  <img mat-card-image src="/assets/images/rozne/dni_wolne_od_pracy_2018.png" alt="Dni wolne">

</mat-card>

<mat-card>
  <mat-card-header>
    <mat-card-title>Dodatek za prace w nocy 2018</mat-card-title>
  </mat-card-header>
  <img mat-card-image src="/assets/images/rozne/dodatek_za_prace_w_nocy_2018.png" alt="Dodatek nocny">


</mat-card>

<mat-card>
  <mat-card-header>
    <mat-card-title>Zawiesia wezowe</mat-card-title>
  </mat-card-header>
  <img mat-card-image src="/assets/images/rozne/zawiesia.png" alt="Dodatek nocny">

  <mat-card-actions>
    <button mat-raised-button color="accent">Ok</button>
  </mat-card-actions>
</mat-card>
