<mat-toolbar color="primary">

  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>

  <mat-menu #menu="matMenu">

    <button mat-menu-item routerLink="/dashboard">
      <mat-icon>dashboard</mat-icon>
      <span>Pulpit</span>
    </button>

    <a href="https://arek-pwa.firebaseapp.com/doc/index.html" mat-menu-item>
      <mat-icon>book</mat-icon>
      <span>Dokumentacja</span>
    </a>

    <button mat-menu-item routerLink="/produkcja">
      <mat-icon>work</mat-icon>
      <span>produkcja</span>
    </button>

    <button mat-menu-item routerLink="/czasowka">
      <mat-icon>dialpad</mat-icon>
      <span>Czasowka</span>
    </button>



  </mat-menu>
  Arek PWA
</mat-toolbar>
<router-outlet></router-outlet>